$hue-pad: 180;
$hue-ball: 10;

.br-out {
  position: relative;
  padding-bottom: 5em;
  user-select: none;

  &__block {
    display: inline-block;
    // box-shadow: 1px 1px 0 #bbb;

    &--broken {
      box-shadow: 0;
      opacity: 0;
      transform: scale(1.2);
      transition: opacity .1s ease-in, transform .1s ease-out;
    }
  }

  &__ball {
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    background-color: hsl($hue-ball, 50%, 80%);
    border-radius: 0.5em;
    bottom: 1em;
    left: 0;
  }

  &__pad {
    display: block;
    position: absolute;
    width: 4em;
    height: 1em;
    background-color: hsl($hue-pad, 50%, 80%);
    bottom: 0;
    left: 0;
    transition: transform .05s ease;
  }

}
