doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    <link href='https://fonts.googleapis.com/css?family=Jura:300' rel='stylesheet' type='text/css'>
    title &lt;br&gt; out
    // inject:css
    // endinject
  body
    .wrap
      header.main-header &lt;br&gt; out
    .wrap
      main.main-content(role='main')
        .br-out
          h1 Break Out of Anything
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. <strong>Libero</strong> placeat, beatae numquam. Architecto pariatur voluptatibus sapiente, explicabo ad incidunt eum!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, ea! Nam, saepe adipisci. Ducimus voluptates debitis fugiat laudantium, repellendus vero.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus rem enim magnam eligendi blanditiis, beatae harum quod eum commodi odit animi temporibus, sed porro, ad sequi. Veritatis cum sit corporis laborum qui, accusamus placeat ex temporibus reprehenderit ipsam! Molestias, tempora.
    // inject:js
    // endinject
