*,*:before,*:after {
  box-sizing: inherit;
  font-weight: inherit;
}

html {
  box-sizing: border-box;
  font-family: Jura, sans-serif;
  font-weight: 300;
}

body {
  margin: 2em 0;
}

a:link,a:visited {
  text-decoration: none;
  color: #366363;
}

a:link:hover,a:visited:hover {
  color: #40bfbf;
}

.main-header {
  font-size: 2em;
}

.wrap {
  max-width: 40em;
  padding: 0 2em;
  margin: 0 auto 2em;
}
