*, *:before, *:after {
  box-sizing: inherit;
  font-weight: inherit;
}

html {
  box-sizing: border-box;
  font-family: Jura, sans-serif;
  font-weight: 300;
}

body {
  margin: 2em 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: hsl(180, 30%, 30%);

  &:hover {
    color: hsl(180, 50%, 50%);
  }
}
